# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Desktop\Desktop\clickbuyhtml-10\clickbuyhtml-10\ClickBuy_v1.0.0\Clickbuy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
